<html>
  <head>
    <meta charset="utf-8">
    <link href="scripts/lib/iview.css" rel="stylesheet" />
    <link href="style/popup.css" rel="stylesheet" />
  </head>
  <body>
  <div id="app">
    <textarea style="opacity: 0;height: 1px;overflow: hidden;position: absolute;" id="copy-textarea"></textarea>
    <div class="header-container">
      <div class="profile-container header-item">
        <div class="extension-name"
             :style="{cursor: logoUrl ? '' : 'default'}"
             @click="extensionNameHandler"
        >Lemon前端助手</div>
        <div class="user-name">{{h5UserName}}</div>
      </div>
      <div class="h5-project-container header-item" v-if="h5AppName">
        <div class="project-name" @click="h5AppNameHandler">
          {{h5AppName}}
        </div>
        <Tooltip :content="h5BranchName" max-width="105" placement="bottom" :transfer="true">
          <span class="branch-name">{{h5BranchName}}</span>
        </Tooltip>
      </div>
    </div>
    <!--ip地址-->
    <div class="ip-container menu-container">
      <div class="ip-title menu-title">● ip地址</div>
      <div class="ip-content menu-content">
        <div class="ip-menu-item menu-item">
          <div class="ip-value">{{ipAddress}}</div>
          <i-button @click="copyIpHandler" type="primary" size="small">复制</i-button>
        </div>
      </div>
    </div>
    <template v-if="isShowConfigView">
      <!--iCode-->
      <div class="icode-container menu-container">
        <div class="icode-title menu-title">● iCode</div>
        <div class="icode-content menu-content">
          <div class="icode-menu-item menu-item">
            <Tooltip :content="`将master分支合并到当前分支(${h5BranchName})`"
                     placement="top-start" max-width="200"
                     style="margin-right: 10px;"
            >
              <i-button @click="syncCodeHandler" type="primary" size="small">同步</i-button>
            </Tooltip>
            <Tooltip :content="`将当前分支(${h5BranchName})合并到master分支`"
                     placement="top" max-width="200"
                     style="margin-right: 10px;"
            >
              <i-button @click="intoCodeHandler" type="primary" size="small">合入</i-button>
            </Tooltip>
            <Poptip
                    trigger="hover"
                    title="你在此分支最后提交"
                    :content="h5commitInfo"
                    placement="top-start"
                    :word-wrap="true"
                    :transfer="true"
                    width="100"
            >
              <i-button @click="copyCommitIdHandler" type="primary" size="small">复制commitId</i-button>
            </Poptip>
          </div>
        </div>
      </div>
      <!--Agile-->
      <div class="agile-container menu-container">
        <div class="agile-title menu-title">● Agile</div>
        <div class="agile-content menu-content">
          <div class="agile-menu-item menu-item">
            <i-button @click="preonlineAgileHandler" type="primary" size="small" style="margin-right: 10px;">preonline</i-button>
            <i-button @click="onlineAgileHandler" type="primary" size="small" style="margin-right: 10px;">online</i-button>
            <i-button
                    v-if="hasSwan"
                    @click="swanAgileHandler"
                    type="primary" size="small"
            >swan</i-button>
          </div>
        </div>
      </div>

      <!--Jarvis-->
      <div class="jarvis-container menu-container" @click="jarvisPublishHandler">
        <div class="jarvis-title menu-title link-menu-title">● Jarvis发布</div>
      </div>
    </template>

    <!--json解析-->
    <div class="json-container menu-container" @click="openJsonParseTabHandler">
      <div class="json-title menu-title link-menu-title">● JSON解析</div>
    </div>
    <!--二维码显示-->
    <div class="qrcode-container menu-container">
      <div class="menu-title">● 二维码</div>
      <div class="menu-content">
        <div id="qrcode-img-container" class="menu-item"></div>
        <Input
                class="menu-item"
                v-model="qrcodeValue"
                placeholder="输入二维码地址"
                style="width: 200px"
        ></Input>
      </div>

    </div>
  </div>
    <script src="scripts/lib/jquery-1.11.0.min.js"></script>
    <script src="scripts/lib/jquery.qrcode.min.js"></script>
    <script src="scripts/lib/vue.min.js"></script>
    <script src="scripts/lib/iview.min.js"></script>
    <script src="scripts/module/popup/index.js"></script>
  </body>
</html>
