#app {
    margin: 15px;
}
.menu-container + .menu-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-size: 14px;
    color: #464c5b;
}
.menu-content {
    margin-top: 5px;
    font-size: 12px;
    color: #657180;
    display: flex;
    flex-direction: column;
}
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-item + .menu-item {
    margin-top: 5px;
}

.ip-container, .ip-value {
    min-width: 120px;
}

.json-container, .json-title {
    color: #3399ff;
    text-decoration:underline;
    cursor: pointer;
}
